<style>
  .btn-search {
    background-color: #fe424d;
    color: white;
    border-radius: 0 25px 25px 0;
    padding: 0 1rem;
  }
  .btn-search:hover {
    background-color: #fe424d;
    color: white;
  }
  .search-inp {
    border-radius: 25px 0 0 25px;
  }
  .btn-search i {
    margin-right: 0.5rem;
  }
</style>

<!-- Sticky Navbar -->
<nav
  class="navbar navbar-expand-md navbar-light bg-body-light border-bottom sticky-top"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass me-1"></i>
    </a>
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100 align-items-center">
        <!-- Left: Explore -->
        <li class="nav-item">
          <a class="nav-link" href="/listings">Explore</a>
        </li>

        <li
          class="nav-item flex-grow-1 d-flex justify-content-center my-2 my-md-0"
        >
          <form
            class="d-flex"
            style="max-width: 450px"
            role="search"
            method="GET"
            action="/search"
          >
            <div class="input-group">
              <input
                name="query"
                class="form-control search-inp"
                type="search"
                placeholder="Search destinations"
              />
              <button class="btn btn-search" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i> Search
              </button>
            </div>
          </form>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Add new listing</a>
        </li>
        <% if(!currUser){ %>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Log in</a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log out</a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>