<% layout("/layouts/boilerplate") %>

<style>
  .needs-validation .form-control {
    padding: 0.375rem 0.75rem; /* Default Bootstrap padding */
    border-radius: 0.375rem;   /* Default Bootstrap border-radius */
  }
</style>

<div class="row mt-5">
  <div class="col-lg-4 col-md-6 mx-auto">
    <h3 class="text-center mb-4">SignUp to wonderlust</h3>
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input name="username" id="username" type="text" class="form-control" required>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input name="email" id="email" type="email" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input name="password" id="password" type="password" class="form-control" required>
      </div>
      <button class="btn btn-outline-success w-100">SignUp</button>
    </form>
  </div>
</div>